.container-fluid {
	display: grid;

	width: 100vw;
	height: 100vh;

	justify-content: center;
	align-content: center;
}

.login-form-outline {
	border: 2px solid black;
}

.cont-item {
	display: flex;
	justify-content: center;
	align-content: center;
}

/* My NavBar Setup */
.my-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
}

.my-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.my-navbar li {
	float: left;
}

.my-navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.my-navbar li a:hover {
	background-color: #111;
}

.active {
	background-color: purple;
}
/* END NAV BAR */
